.sumit{
    width: 1300px;
    height: 100%;
   margin: auto;
   
}

.sumit2{
    width:1300px ;
    height: 100%;
    background-color: black;
    box-shadow: 0,0,20px,0;
    margin: auto;
    
    justify-content: center;
}

.sumit3{
    width: 300px;
    height: 300px;
    border-radius: 100%;

}


.no{
margin-left:50px ;
color: green;
}


.no1{
    margin-left:50px ;
    color: white;
    }



    .no2{
        margin-left:50px ;
        color: white;

        }
        @media(max-width:768px){

body{


    font-size: 50px;
}


.sumit3{
    width: 700px;
    height: 700px;
    border-radius: 100%;

}


        }
